<!DOCTYPE html>
<html>
<script src="js\angular.min.js"></script>
<body>

<div>Angular Test</div>

<div ng-app="myApp" ng-controller="resultsCtrl"> 
	<button ng-click="myFunction()">Fetch Data</button>
	<table width=400 cellspacing=1 cellpadding=5 border=1>
		<tr>
			<td>cont_id</td>
			<td>cont_org_id</td>
			<td>cont_role_cd</td>
			<td>cont_first_name</td>
			<td>cont_middle_name</td>
			<td>cont_last_name</td>
			<td>cont_name_title</td>
			<td>cont_name_suffix</td>
			<td>cont_addr1</td>
			<td>cont_addr2</td>
			<td>cont_city</td>
			<td>cont_state_prov_cd</td>
			<td>cont_post_cd</td>
			<td>cont_cntry_cd</td>
			<td>cont_office_phone</td>
			<td>cont_mobile_phone</td>
			<td>cont_home_phone</td>
			<td>cont_email</td>
			<td>cont_alt_email</td>
		</tr>
		
		<tr ng-repeat="x in myResults">
			<td>{{ x.cont_id }}</td>
			<td>{{ x.cont_org_id }}</td>
			<td>{{ x.cont_role_cd }}</td>
			<td>{{ x.cont_first_name }}</td>
			<td>{{ x.cont_middle_name }}</td>
			<td>{{ x.cont_last_name }}</td>
			<td>{{ x.cont_name_title }}</td>
			<td>{{ x.cont_name_suffix }}</td>
			<td>{{ x.cont_addr1 }}</td>
			<td>{{ x.cont_addr2 }}</td>
			<td>{{ x.cont_city }}</td>
			<td>{{ x.cont_state_prov_cd }}</td>
			<td>{{ x.cont_post_cd }}</td>
			<td>{{ x.cont_cntry_cd }}</td>
			<td>{{ x.cont_office_phone }}</td>
			<td>{{ x.cont_mobile_phone }}</td>
			<td>{{ x.cont_home_phone }}</td>
			<td>{{ x.cont_email }}</td>
			<td>{{ x.cont_alt_email }}</td>
		</tr>
	</table
</div>

<script>

var app = angular.module('myApp', []);
	
	app.controller('resultsCtrl', function($scope, $http) {
		$scope.myFunction = function() {
		$http.get("ServletTest").then(function (response) {
			$scope.myResults = response.data;
		});
	}
	  
});
	
</script>

</body>
</html>
