<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuprTEK Contract Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css\bootstrap.css">
  <link rel="stylesheet" href="css\customcss.css">
  <script src="js\jquery-3.2.1.min.js"></script>
  <script src="js\bootstrap.min.js"></script>
  <script src="js\angular.min.js"></script>
  <script src="js\controllers\contractsController.js"></script>
</head>
<body data-ng-app="myApp">
    <nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 30px;-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" area-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="Home.html">Supr<b>TEK</b> Contract Explorer</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li><a href="Home.html">Home</a></li>-->
                    <li class="active"><a href="Contracts.html">Contracts</a></li>
                    <li><a href="Organizations.html">Organizations</a></li>
                    <li><a href="Contacts.html">Contacts</a></li>
                    <li><a href="Directives.html">Directives</a></li>
                    <li><a href="Releases.html">Releases</a></li>
                    <li><a href="DataSets.html">Data Sets</a></li>
                    <li><a href="ExportRegulations.html">Export Regulations</a></li>
                    <li><a href="Travel.html">Travel</a></li>
                    <li><a href="Devices.html">Devices</a></li>
                    <li><a href="Codes.html">Codes</a></li>
                    <li><a href="Reports.html">Reports</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container-fluid" style="margin-top:50px;">
        <!-- Logo -->
        <div class="page-header" style="text-align:center;">
            <h1>Contracts</h1>
        </div>
		<!--End Nav Tabs-->
		
		<div class="accordion panel-group" id="accordion" data-ng-controller="resultsCtrl">
			<div class="accordion-default panel">
			    <div class="accordion-heading panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse1"><h2>Search Contracts</h2></a>
					</h4>
			    </div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<!--Search for contacts-->
						
						<input type="text" name="SearchBy" style="margin: 20px; margin-bottom: -25px;" ng-model="f.$" placeholder="Search All Fields">
						<button type="submit" style="margin-bottom: 10px; margin-top: 10px" class="btn btn-default" value="contacts" name="SearchButton" data-toggle="collapse" data-target="#search" ng-click="myFunction()">Search Contracts</button>
						<button type="submit" style="margin-bottom: 10px; margin-top: 10px" class="btn btn-default" value="contacts" name="refreshButton" ng-click="myFunction()"><span class="glyphicon glyphicon-refresh
						" aria-hidden="true"></span></button>
						<!--span><a href="ResultsAsTable.html">Advanced Search</a></span-->
		
		
		<!-- Table Start**************************** -->				
				<div id="search" class="collapse">
										
					<!--button type="submit" value="clearResults">Clear Results</button-->
					
					<div class="scrollView">
						<form name="updateForm">
							<table style="padding: 3px;">
								
								<tr>
									<td><input ng-model="f.contr_id" placeholder="Filter by Contract Number"></td>
									<td><input ng-model="f.contr_org_id" placeholder="Filter by Customer Organization ID"></td>
									<td><input ng-model="f.cont_end_cust_id" placeholder="Filter by Contract End Customer"></td>
									<td><input ng-model="f.contr_type_cd" placeholder="Filter by Contract Type"></td>
									<td><input ng-model="f.prime_contr_id" placeholder="Filter by Prime Contractior ID"></td>
									<td><input ng-model="f.prime_contract_no" placeholder="Filter by Prime Contractor Number"></td>
									<td><input ng-model="f.contr_prog_cd" placeholder="Filter by Contract Program"></td>
									<td><input ng-model="f.contr_vehicle_cd" placeholder="Filter by Contract Vehicle"></td>
									<td><input ng-model="f.contr_sec_level_cd" placeholder="Filter by Contract Security Level"></td>
									<td><input ng-model="f.contr_info_safe_level_cd" placeholder="Information Security Level"></td>
									<td><input ng-model="f.contr_open_date" placeholder="Filter by Date Contract Opened"></td>
									<td><input ng-model="f.contr_close_date" placeholder="Filter by Date Contract Closed"></td>
									<td><input ng-model="f.is_open" placeholder="Canceled"></td>
									<td><input ng-model="f.exemptions" placeholder="Exemptions and Restrictions"></td>
									<td><input ng-model="f.dd254_recv" placeholder="DD254 Recieved"></td>
									<td><input ng-model="f.dd254_date" placeholder="Filter by DD254 Date"></td>
								</tr>
												
								<tr>
									<th value="contr_id">Contract Number</th>
									<th value="contr_org_id">Customer Organization ID</th>
									<th value="cont_end_cust_id">Contract End Customer</th>
									<th value="contr_type_id">Contract Type</th>
									<th value="prime_contr_id">Prime Contractor ID</th>
									<th value="prime_contract_no">Prime Contract Number</th>
									<th value="contr_prog_cd">Contract Program</th>
									<th value="contr_vehicle_cd">Contract Vehicle</th>
									<th value="contr_sec_level_cd">Contract Security Level</th>
									<th value="contr_info_safe_level_cd">Information Security Level</th>
									<th value="contr_open_date">Date Contract Opened</th>
									<th value="contr_close_date">Date Contract Closed</th>
									<th value="is_open">Canceled</th>
									<th value="exemptions">Exemptions and Restrictions</th>
									<th value="dd254_recv">DD254 Recieved</th>
									<th value="dd254_date">Current DD254 Date</th>
									<th class="editColumn">Edit</th>
								</tr>
	
								<tr id="results" ng-repeat="x in myResults | filter:f" data-ng-class="{danger:!entry.active}">
									<td>
										<span data-ng-hide="editMode">{{ x.contr_id }}</span>
										<input class="edit_contr_id" type="text" ng-minlength="1" ng-maxlength="255" required
											data-ng-show="editMode" data-ng-model="x.contr_id"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_org_id}}</span>
										<input class="edit_contr_org_id" type="text" pattern="^\d+$" ng-maxlength="9" 
											data-ng-show="editMode" data-ng-model="x.contr_org_id"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_end_cust_id}}</span>
										<input class="edit_contr_end_cust_id" type="text" pattern="^\d+$" ng-maxlength="9" 
											data-ng-show="editMode" data-ng-model="x.contr_end_cust_id"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_type_cd}}</span>
										<input class="edit_contr_type_cd" type="text" ng-minlength="1" ng-maxlength="255" required
											data-ng-show="editMode" data-ng-model="x.contr_type_cd"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.prime_contr_id}}</span>
										<input class="edit_prime_contr_id" type="text" pattern="\d+" ng-maxlength="9" 
											data-ng-show="editMode" data-ng-model="x.prime_contr_id"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.prime_contract_no}}</span>
										<input class="edit_prime_contr_no" type="text" ng-maxlength="255" 
											data-ng-show="editMode" data-ng-model="x.prime_contract_no"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_prog_cd}}</span>
										<input class="edit_contr_prog_cd" type="text" ng-maxlength="255" 
											data-ng-show="editMode" data-ng-model="x.contr_prog_cd"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_vehicle_cd}}</span>
										<input class="edit_contr_vehicle_cd" type="text" ng-maxlength="255" 
											data-ng-show="editMode" data-ng-model="x.contr_vehicle_cd"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_sec_level_cd}}</span>
										<input class="edit_contr_sec_level_cd" type="text" ng-maxlength="255" 
											data-ng-show="editMode" data-ng-model="x.contr_sec_level_cd"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_info_safe_level_cd}}</span>
										<input class="edit_contr_info_safe_level_cd" type="text" ng-maxlength="255" 
											data-ng-show="editMode" data-ng-model="x.contr_info_safe_level_cd"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_open_date}}</span>
										<input class="edit_contr_contr_open_date" type="text" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" 
											data-ng-show="editMode" data-ng-model="x.contr_open_date"></script>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.contr_close_date}}</span>
										<input class="edit_contr_close_date" type="text" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" 
											data-ng-show="editMode" data-ng-model="x.contr_close_date"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.is_open}}</span>
										<select data-ng-show="editMode" class = "dropdown" ng-model="x.is_open">
												<option value="">
												<option value="t">True
												<option value="f">False
										</select>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.exemptions}}</span>
										<input class="edit_exemptions" type="text" 
											data-ng-show="editMode" data-ng-model="x.exemptions"/>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.dd254_recv}}</span>
										<select data-ng-show="editMode" class = "dropdown" ng-model="x.dd254_recv">
												<option value="">
												<option value="t">True
												<option value="f">False
										</select>
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.dd254_date}}</span>
										<input class="edit_dd254_date" type="text" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" 
										data-ng-show="editMode" data-ng-model="x.dd254_date" />
									<td class="editColumn" style="vertical-align: center; padding: 0; padding-top: 5px;">
										<button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editResults(x)" class="btn btn-default">Edit</button>
										<button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; saveField(x)" class="btn btn-default" ng-disabled="!updateForm.$valid" >Save</button>
										<button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
									</td>
								</tr>	
							</table>
							
							<!-- Modal -->
							<div id="updateDatabaseErrorModal" class="modal fade" role="dialog">
							  	<div class="modal-dialog">
								
								    <!-- Modal content-->
								    <div class="modal-content">
								   		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
								        	<h4 class="modal-title">Updating New Record Database Issue</h4>
								      	</div>
								      	
										<div class="modal-body">
											{{databaseIssue}}
										</div>
									   		
									   	<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
								    </div>
							
							  	</div>
							</div>
							
						</form>
					</div>
	
						<!--End search for contacts-->
				</div>
				<!-- Table end ********************************-->
				
				
				
						<!--End search for contacts-->
					</div>
				</div>
			</div>
			
			<!-- ADDING BLOCK ********************************-->
			<div class="accordion-default panel">
			    <div class="accordion-heading panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse2"><h2>Add New Contract</h2></a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" data-ng-controller="addCtrl">
					<div class="panel-body">
						<!--Add new contact-->
						<form name="addForm" > <!-- ng-app="myApp" ng-controller="formCtrl" ~~removed bc unused-->
							<div class="row">
								<div class="col-lg-3">Contract Number:</div>
								<div class="col-lg-3"><input id="contr_id" type="text" data-ng-minlength="1" data-ng-maxlength="255" required data-ng-model="contr_id" 
														title="Contract ID: Required; String" tabindex=1></script></div>
								<div class="col-lg-3">Customer Organization ID:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="contr_org_id" tabindex=9>
											<option value="2">TRANSCOM
											<option value="3">Air Mobility Command (AMC)
											<option value="4">SAIC
											<option value="1">SuprTEK
									</select></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Contract Type:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="contr_type_cd" required tabindex=2>
											<option value="Prime">Prime
											<option value="Sub">Sub
									</select></div>
								<div class="col-lg-3">Prime Contractor ID:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="prime_contr_id" tabindex=10>
											<option value="2">TRANSCOM
											<option value="3">Air Mobility Command (AMC)
											<option value="4">SAIC
											<option value="1">SuprTEK
									</select></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Prime Contract Number:</div>
								<div class="col-lg-3"><input id="prime_contr_id" type="text" pattern="\d+" ng-maxlength="9" data-ng-model="prime_contr_id"
														title="Prime Contractor ID: Integer" tabindex=3></script></div>
								<div class="col-lg-3">Contract Program:</div>
								<div class="col-lg-3"><input id="contr_prog_cd" type="text" ng-maxlength="255" data-ng-model="contr_prog_cd"
														title="Contract Program: String" tabindex=11></script></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Contract End Customer:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="contr_end_cust_id" tabindex=4>
											<option value="2">TRANSCOM
											<option value="3">Air Mobility Command (AMC)
											<option value="4">SAIC
											<option value="1">SuprTEK
									</select></div>
								<div class="col-lg-3">Contract Vehicle:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="contr_vehicle_id" tabindex=12>
										<option value="SMB">SMB
										<option value="VET">VET
									</select></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Date Contract Opened:</div>
								<div class="col-lg-3"><input id="contr_open_date" type="text" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" data-ng-model="contr_open_date"
											title="Contract Opened Date: yyyy-dd-mm hh:mm:ss" tabindex=5></script></div>
								<div class="col-lg-3">Date Contract Closed:</div>
								<div class="col-lg-3"><input id="contr_close_date" type="text" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" data-ng-model="contr_close_date" 
											title="Contract Close Date: yyyy-dd-mm hh:mm:ss" tabindex=13></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Exemptions and Restrictions:</div>
								<div class="col-lg-3"><input id="exemptions" type="text" data-ng-model="x.exemptions"
														title="Exemptions and Exceptions: Text, no length limit" tabindex=6></script></div>
								<div class="col-lg-3">Current DD254 Date:</div>
								<div class="col-lg-3"><input id="dd254_date" type="text" pattern="^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$" data-ng-model="dd254_date"
														title="DD254 date: yyyy-dd-mm hh:mm:ss" tabindex=14></script></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">DD254 Recieved:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="dd254_recv" tabindex=7>
														<option value="">
														<option value="t">True
														<option value="f">False
												</select></div>
								<div class="col-lg-3">Is Open?:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="is_open" tabindex=15>
												<option value="">
												<option value="t">True
												<option value="f">False
										</select></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Contract Security Level:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="contr_sec_level_cd" tabindex=8>
											<option value="CN">CN
											<option value="NO">NO
											<option value="SC">SC
											<option value="TS">TS
									</select></div>
								<div class="col-lg-3">Information Security Level:</div>
								<div class="col-lg-3"><select class = "dropdown" data-ng-model="contr_info_safe_level_cd" tabindex=16>
											<option value="CN">CN
											<option value="NO">NO
											<option value="SC">SC
											<option value="TS">TS
									</select></div>
							</div><!--row-->
							
							<div class="container-fluid" style="padding:10px;">
								<button type="submit" class="btn btn-sm btn-default btn-block" value="contacts" ng-click="addFunction()" tabindex=20>
									<span ng-show="addForm.$valid" class="glyphicon glyphicon-ok"></span><span ng-show="addForm.$invalid" class="glyphicon glyphicon-remove"/></span> Add New Contract</button>
							</div>
							
							<!-- Modal -->
								<div id="addErrorsModal" class="modal fade" role="dialog">
								  	<div class="modal-dialog">
									
									    <!-- Modal content-->
									    <div class="modal-content">
									   		<div class="modal-header">
									        	<button type="button" class="close" data-dismiss="modal">&times;</button>
									        	<h4 class="modal-title">Adding New Record Validation Errors</h4>
									      	</div>
									      	
											<div class="modal-body">
												
												<span ng-show="addForm.contrid.$error.required">Contract Number is required.<br/></span>
										        <span ng-show="addForm.contrid.$error.maxlength">Contract Number should be less than 255 characters.<br/></span>
												<span ng-show="addForm.contrid.$error.required">Customer Organization ID is required.<br/></span>
												<span ng-show="addForm.contrid.$error.required">Contract Type is required.<br/></span>
												<span ng-show="addForm.travelbegindate.$error.pattern">Date Contract Opened should be in the format of yyyy-dd-mm hh:mm:ss.<br/></span>
												<span ng-show="addForm.travelbegindate.$error.pattern">Date Contract Closed should be in the format of yyyy-dd-mm hh:mm:ss.<br/></span>
												<span ng-show="addForm.travelbegindate.$error.pattern">Current DD254 Date should be in the format of yyyy-dd-mm hh:mm:ss.<br/></span>
												
										    </div>
										   		
										   	<div class="modal-footer">
										        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										    </div>
									    </div>
								
								  	</div>
								</div>
						
							<!-- Modal -->
							<div id="addSuccessModal" class="modal fade" role="dialog">
							  	<div class="modal-dialog">
								
								    <!-- Modal content-->
								    <div class="modal-content">
								   		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
								        	<h4 class="modal-title">Item Added</h4>
								      	</div>
								      	
										<div class="modal-body">
										Item added successfully, refresh results to see it.
										</div>
									   		
									   	<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
								    </div>
							
							  	</div>
							</div>
							
							<!-- Modal -->
							<div id="addDatabaseErrorModal" class="modal fade" role="dialog">
							  	<div class="modal-dialog">
								
								    <!-- Modal content-->
								    <div class="modal-content">
								   		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
								        	<h4 class="modal-title">Adding New Record Database Issue</h4>
								      	</div>
								      	
										<div class="modal-body">
											{{databaseIssue}}
										</div>
									   		
									   	<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
								    </div>
							
							  	</div>
							</div>
							
						</form>
						<!---End add new contact-->
					</div>
				</div>
			</div>
			<!-- ADDING BLOCK END *********************************************** -->
			
			
			
		</div><!--accordian-->
	
	</div><!--well-->

</div><!--container-->

</body>
	<section id="footer" style="background-color:#292b34;">
        <div class="container">
    	    <div class="navbar-default navbar-fixed-bottom"  style="color: #fff; text-align: center; background-color:#000000; border:0px; padding: 20px;">
			©Copyright 2017 | SUPERLATIVE TECHNOLOGIES, INC. (dba SUPRTEK)
    	    </div><!--end .well .well-sm .main-footer-->
    	</div><!--end .container-->
    </section><!--end #footer-->
</html>