<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuprTEK Contract Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css\bootstrap.css">
  <link rel="stylesheet" href="css\customcss.css">
  <script src="js\jquery-3.2.1.min.js"></script>
  <script src="js\bootstrap.min.js"></script>
  <script src="js\angular.min.js"></script>
  <script src="js\controllers\contactsController.js"></script>
</head>
<body data-ng-app="myApp" style=" background-color: #9e9e9e;">
<nav class="navbar navbar-default navbar-fixed-top"style="margin-bottom: 30px;-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;">
<div class="container-fluid">
<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" data-area-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="Home.html">Supr<b>TEK</b> Contract Explorer</a>
    </div>
	 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li><a href="Home.html">Home</a></li>
				<li><a href="Contracts.html">Contracts</a></li>
				<li><a href="Organizations.html">Organizations</a></li>
				<li class="active"><a href="Contacts.html">Contacts</a></li>
				<li><a href="Directives.html">Directives</a></li>  
				<li><a href="Releases.html">Releases</a></li>
				<li><a href="DataSets.html">Data Sets</a></li>
				<li><a href="ExportRegulations.html">Export Regulations</a></li>
				<li><a href="Travel.html">Travel</a></li>
				<li><a href="Devices.html">Devices</a></li>
				<li><a href="Codes.html">Codes</a></li>		
				<li><a href="Reports.html">Reports</a></li>	
	   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="margin-top:50px;">
	<!-- Logo -->
	<div class="page-header" style="text-align:center; color: #FFFFFF;">
  		<h1>Contacts</h1>
	</div>
	
	<!--Navigation Tabs  SET ACTIVE PAGE/-->

		<!--End Nav Tabs-->
		
		<div class="panel-group" id="accordion" data-ng-controller="resultsCtrl">
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><h2>Search Contacts</h2></a>
					</h4>
			    </div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<!--Search for contacts-->
						
						<input type="text" name="SearchBy" style="margin: 20px;" data-ng-model="f.$" placeholder="Search All Fields">
						
						<button type="submit" style="margin-bottom: 10px; margin-top: 10px; margin-left: 1px;" class="btn btn-default" value="contacts" name="SearchButton" data-toggle="collapse" data-target="#search" data-ng-click="myFunction()">Search Contacts</button>
						<!--span><a href="ResultsAsTable.html">Advanced Search</a></span-->
		
		
		<!-- Table Start**************************** -->				
				<div id="search" class="collapse">
					
					<!-- input type="text" name="SearchBy" style="margin: 20px; margin-bottom: -25px;" data-ng-model="f.$" placeholder="Search All Fields" -->
					
					<!--button type="submit" value="clearResults">Clear Results</button-->
					
					<div id="scrollView" style="max-height:100%; overflow:auto; margin: 10px; margin-right: 155px;">
						<form name="updateForm" novalidate>
							<table style="padding: 3px;">
								
								<tr>
									<td><input data-ng-model="f.cont_id" placeholder="Filter by Contact ID"></td>
									<td><input data-ng-model="f.cont_org_id" placeholder="Filter by Organization ID"></td>
									<td><input data-ng-model="f.cont_role_cd" placeholder="Filter by Role CD"></td>
									<td><input data-ng-model="f.cont_first_name" placeholder="Filter by First Name"></td>
									<td><input data-ng-model="f.cont_middle_name" placeholder="Filter by Middle Name"></td>
									<td><input data-ng-model="f.cont_last_name" placeholder="Filter by Last name"></td>
									<td><input data-ng-model="f.cont_name_title" placeholder="Filter by Name Title"></td>
									<td><input data-ng-model="f.cont_name_suffix" placeholder="Filter by Name Suffix"></td>
									<td><input data-ng-model="f.cont_addr1" placeholder="Filter by Address 1"></td>
									<td><input data-ng-model="f.cont_addr2" placeholder="Filter by Address 2"></td>
									<td><input data-ng-model="f.cont_city" placeholder="Filter by City"></td>
									<td><input data-ng-model="f.cont_state_prov_cd" placeholder="Filter by State/Province"></td>
									<td><input data-ng-model="f.cont_post_cd" placeholder="Filter by Postal Code"></td>
									<td><input data-ng-model="f.cont_cntry_Cd" placeholder="Filter by Country"></td>
									<td><input data-ng-model="f.cont_office_phone" placeholder="Filter by Office Number"></td>
									<td><input data-ng-model="f.cont_mobile_phone" placeholder="Filter by Mobile Number"></td>
									<td><input data-ng-model="f.cont_home_phone" placeholder="Filter by Home Number"></td>
									<td><input data-ng-model="f.cont_email" placeholder="Filter by Email"></td>
									<td><input data-ng-model="f.cont_alt_email" placeholder="Filter by Alt Email"></td>
									<td class="editColumn"></td>
								</tr>
												
								<tr>
									<th>Contact ID</th>
									<th>Organization ID</th>
									<th>Role</th>
									<th>First Name</th>
									<th>Middle Name</th>
									<th>Last Name</th>
									<th>Title</th>
									<th>Name Suffix</th>
									<th>Address 1</th>
									<th>Address 2</th>
									<th>City</th>
									<th>State/Province</th>
									<th>Postal Code</th>
									<th>Country</th>
									<th>Office Phone</th>
									<th>Mobile Phone</th>
									<th>Home Phone</th>
									<th>Primary Email</th>
									<th>Alt Email</th>
									<th class="editColumn">Edit</th>
								</tr>

								<tr data-ng-repeat="x in myResults | filter:f" data-ng-class="{danger:!entry.active}">
									<td>
										<span data-ng-hide="editMode">{{ x.cont_id }}</span>
										<input id="edit_cont_id" type="text" data-ng-show="editMode" data-ng-model="x.cont_id" required />
									</td>
									<!-- The special block here will swap to being input boxes when the -->
									<td>
										<span data-ng-hide="editMode">{{x.cont_org_id}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_org_id" required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_role_cd}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_role_cd" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_first_name}}</span>
										<input id="edit_cont_first_name" type="text" data-ng-show="editMode" data-ng-model="x.cont_first_name" required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_middle_name}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_middle_name" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_last_name}}</span>
										<input id="edit_cont_last_name" type="text" data-ng-show="editMode" data-ng-model="x.cont_last_name" required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_name_title}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_name_title" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_name_suffix}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_name_suffix" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_addr1}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_addr1" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_addr2}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_addr2" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_city}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_city" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_state_prov_cd}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_state_prov_cd" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_post_cd}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_post_cd" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_cntry_Cd}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_cntry_Cd" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_office_phone}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_office_phone" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_mobile_phone}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_mobile_phone" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_home_phone}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_home_phone" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_email}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_email" data-ng-required />
									</td>
									<td>
										<span data-ng-hide="editMode">{{x.cont_alt_email}}</span>
										<input type="text" data-ng-show="editMode" data-ng-model="x.cont_alt_email" data-ng-required />
									</td>
									<td class="editColumn">
										<button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editResults(x)" class="btn btn-default">Edit</button>
										<button ng-disabled="!updateForm.$valid" type="submit" data-ng-show="editMode" data-ng-click="editMode = false; saveField(x)" class="btn btn-default">Save</button>
										<button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
									</td>
								</tr>	
							</table>
						</form>
					</div>
	
						<!--End search for contacts-->
				</div>
				<!-- Table end ********************************-->
				
				
				
						<!--End search for contacts-->
					</div>
				</div>
			</div>
			
			<!-- ADDING BLOCK ********************************-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><h2>Add New Contact</h2></a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" data-ng-controller="addCtrl">
					<div class="panel-body">
						<!--Add new contact-->
						<div> <!-- data-ng-app="myApp" data-ng-controller="formCtrl" ~~removed bc unused-->
							<form name="addForm" novalidate>
								<div class="row">
									<div class="col-lg-3">Contact ID:</div>
									<div class="col-lg-3"><input id="cont_id" type="text" data-ng-minlength="1" data-ng-maxlength="255" required
															data-ng-model="cont_id"></div>
									<div class="col-lg-3">City:</div>
									<div class="col-lg-3"><input id="cont_city" type="text" data-ng-model="cont_city"></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Organization ID:</div>
									<div class="col-lg-3"><input id="cont_org_id" type="text" data-ng-minlength="1" data-ng-maxlength="255" required
															data-ng-model="cont_org_id"></div>
									<div class="col-lg-3">State or Province:</div>
									<div class="col-lg-3"><select class = "dropdown" data-ng-model="cont_state_prov_cd">
												<option value="AB">AB
												<option value="AL">AL
												<option value="AK">AK
												<option value="AZ">AZ
												<option value="AR">AR
												<option value="AS">AS
												<option value="BC">BC
												<option value="CA">CA
												<option value="CO">CO
												<option value="CT">CT
												<option value="DE">DE
												<option value="DC">DC
												<option value="FL">FL
												<option value="GA">GA
												<option value="GU">GU
												<option value="HI">HI
												<option value="ID">ID
												<option value="IL">IL
												<option value="IN">IN
												<option value="IA">IA
												<option value="KS">KS
												<option value="KY">KY
												<option value="LA">LA
												<option value="MB">MB
												<option value="ME">ME
												<option value="MD">MD
												<option value="MA">MA
												<option value="MI">MI
												<option value="MN">MN
												<option value="MS">MS
												<option value="MO">MO
												<option value="MP">MP
												<option value="MT">MT
												<option value="NB">NB
												<option value="NE">NE
												<option value="NL">NL
												<option value="NV">NV
												<option value="NH">NH
												<option value="NS">NS
												<option value="NT">NT
												<option value="NU">NU
												<option value="NJ">NJ
												<option value="NM">NM
												<option value="NY">NY
												<option value="NC">NC
												<option value="ND">ND
												<option value="OH">OH
												<option value="OK">OK
												<option value="ON">ON
												<option value="OR">OR
												<option value="QC">QC
												<option value="PA">PA
												<option value="PE">PE
												<option value="PR">PR
												<option value="RI">RI
												<option value="SC">SC
												<option value="SD">SD
												<option value="SK">SK
												<option value="TN">TN
												<option value="TX">TX
												<option value="UT">UT
												<option value="VT">VT
												<option value="VA">VA
												<option value="VI">VI
												<option value="WA">WA
												<option value="WV">WV
												<option value="WI">WI
												<option value="YT">YT
										</select></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Role:</div>
									<div class="col-lg-3"><input id="cont_role_cd" type="text" data-ng-model="cont_role_cd"></div>
									<div class="col-lg-3">Postal Code:</div>
									<div class="col-lg-3"><input id="cont_post_cd" type="text" data-ng-model="cont_post_cd"></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">First Name:</div>
									<div class="col-lg-3"><input id="cont_first_name" type="text" data-ng-maxlength="255" required
															data-ng-model="cont_first_name"></div>
									<div class="col-lg-3">Country:</div>
									<div class="col-lg-3"><select class="dropdown" data-ng-model="cont_cntry_Cd">
											<option value="USA">USA
											<option value="CAN">CAN
										</select></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Middle Name:</div>
									<div class="col-lg-3"><input id="cont_middle_name" type="text" data-ng-model="cont_middle_name"></div>
									<div class="col-lg-3">Office Phone:</div>
									<div class="col-lg-3"><input id="cont_office_phone" type="text" data-ng-model="cont_office_phone"></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Last Name:</div>
									<div class="col-lg-3"><input id="cont_last_name" type="text" data-ng-maxlength="255" required
															data-ng-model="cont_last_name"></div>
									<div class="col-lg-3">Mobile Phone:</div>
									<div class="col-lg-3"><input id="cont_mobile_phone" type="text" data-ng-model="cont_mobile_phone"></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Name Title:</div>
									<div class="col-lg-3"><input id="cont_name_title" type="text" data-ng-model="cont_name_title"></div>
									<div class="col-lg-3">Home Phone:</div>
									<div class="col-lg-3"><input id="cont_home_phone" type="text" data-ng-model="cont_home_phone"></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Name Suffix:</div>
									<div class="col-lg-3"><input id="cont_name_suffix" type="text" data-ng-model="cont_name_suffix"></div>
									<div class="col-lg-3">Email:</div>
									<div class="col-lg-3"><input id="cont_email" type="text" data-ng-model="cont_email"></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Address Line 1:</div>
									<div class="col-lg-3"><input id="cont_addr1" type="text" data-ng-model="cont_addr1"></div>
									<div class="col-lg-3">Alt Email:</div>
									<div class="col-lg-3"><input id="cont_alt_email" type="text" data-ng-model="cont_alt_email"></div>
								</div><!--row-->
								
								<div class="row">
									<div class="col-lg-3">Address Line 2:</div>
									<div class="col-lg-3"><input id="cont_addr2" type="text" data-ng-model="cont_addr1"></div>
									<div class="col-lg-6"><button type="submit" class="btn btn-default" value="contacts" data-ng-click="addFunction()" >Add New Contact</button></div>
								</div><!--row-->
							</div>
							
							<!-- Modal -->
							<div id="addErrorsModal" class="modal fade" role="dialog">
							  	<div class="modal-dialog">
								
								    <!-- Modal content-->
								    <div class="modal-content">
								   		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
								        	<h4 class="modal-title">Input Validation Errors</h4>
								      	</div>
								      	
										<div class="modal-body">
										Invalid Input; check fields with red outlines.
										</div>
									   		
									   	<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
								    </div>
							
							  	</div>
							</div>
						
							<!-- Modal -->
							<div id="addSuccessModal" class="modal fade" role="dialog">
							  	<div class="modal-dialog">
								
								    <!-- Modal content-->
								    <div class="modal-content">
								   		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal">&times;</button>
								        	<h4 class="modal-title">Item Added</h4>
								      	</div>
								      	
										<div class="modal-body">
										Item added successfully, refresh results to see it.
										</div>
									   		
									   	<div class="modal-footer">
									        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									    </div>
								    </div>
							
							  	</div>
							</div>
						
						</form>
						<!---End add new contact-->
					</div>
				</div>
			</div>
			<!-- ADDING BLOCK END *********************************************** -->
			
			
			
		</div><!--accordian-->
	
	</div><!--well-->
	
</body>
	<section id="footer" style="background-color:#292b34;">
        <div class="container">
    	    <div class="navbar-default navbar-fixed-bottom"  style="color: #fff; text-align: center; background-color:#292b34; border:0px; padding: 20px;">
			©Copyright 2017 | SUPERLATIVE TECHNOLOGIES, INC. (dba SUPRTEK)
    	    </div><!--end .well .well-sm .main-footer-->
    	</div><!--end .container-->
    </section><!--end #footer-->
</html>