<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuprTEK Contract Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="customcss.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js\angular.min.js"></script>
  <script src="js\contactsController.js"></script>
</head>
<body ng-app="myApp" >

<div class="container">
	<!-- Logo -->
	<div class="page-header">
  		<img src="images/SuprTEKLogo.jpg" alt="Logo" id="logo">
	</div>
	
	<!--Navigation Tabs  SET ACTIVE PAGE/-->
	<div class="well">
		<div id="tabs" class="row">
			<ul class="nav nav-tabs" role="tablist">
				<li><a href="Home.html">Home</a></li>
				<li><a href="Contracts.html">Contracts</a></li>
				<li><a href="Organizations.html">Organizations</a></li>
				<li class="active"><a href="Contacts.html">Contacts</a></li>
				<li><a href="Directives.html">Directives</a></li>  
				<li><a href="Releases.html">Releases</a></li>
				<li><a href="DataSets.html">Data Sets</a></li>
				<li><a href="ExportRegulations.html">Export Regulations</a></li>
				<li><a href="Travel.html">Travel</a></li>
				<li><a href="Devices.html">Devices</a></li>
				<li><a href="Codes.html">Codes</a></li>		
				<li><a href="Reports.html">Reports</a></li>					
			 </ul>
		</div>
		<!--End Nav Tabs-->
		
		<div class="panel-group" id="accordion" ng-controller="resultsCtrl">
			<div class="panel panel-default">
			    <div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><h2>Search Contacts</h2></a>
					</h4>
			    </div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<!--Search for contacts-->
						
						<button type="submit" style="margin-bottom: 10px; margin-top: 10px; margin-left: 1px;" class="btn btn-default" value="contacts" name="SearchButton" data-toggle="collapse" data-target="#search" ng-click="myFunction()">Load Contacts</button>
						<!--span><a href="ResultsAsTable.html">Advanced Search</a></span-->
		
		
		<!-- Table Start**************************** -->				
				<div id="search" class="collapse">
					
					<input type="text" name="SearchBy" style="margin: 20px; margin-bottom: -25px;" ng-model="f.$" placeholder="Search All Fields">
					
					<!--button type="submit" value="clearResults">Clear Results</button-->
					
					<div id="scrollView" style="max-height:100%; overflow:auto; margin: 10px">
						<table style="padding: 3px;">
							
							<tr>
								<td><input ng-model="f.cont_id" placeholder="Filter by Contact ID"></td>
								<td><input ng-model="f.cont_org_id" placeholder="Filter by Organization ID"></td>
								<td><input ng-model="f.cont_role_cd" placeholder="Filter by Role CD"></td>
								<td><input ng-model="f.cont_first_name" placeholder="Filter by First Name"></td>
								<td><input ng-model="f.cont_middle_name" placeholder="Filter by Middle Name"></td>
								<td><input ng-model="f.cont_last_name" placeholder="Filter by Last name"></td>
								<td><input ng-model="f.cont_name_title" placeholder="Filter by Name Title"></td>
								<td><input ng-model="f.cont_name_suffix" placeholder="Filter by Name Suffix"></td>
								<td><input ng-model="f.cont_addr1" placeholder="Filter by Address 1"></td>
								<td><input ng-model="f.cont_addr2" placeholder="Filter by Address 2"></td>
								<td><input ng-model="f.cont_city" placeholder="Filter by City"></td>
								<td><input ng-model="f.cont_state_prov_cd" placeholder="Filter by State/Province"></td>
								<td><input ng-model="f.cont_post_cd" placeholder="Filter by Postal Code"></td>
								<td><input ng-model="f.cont_cntry_cd" placeholder="Filter by Country"></td>
								<td><input ng-model="f.cont_office_phone" placeholder="Filter by Office Number"></td>
								<td><input ng-model="f.cont_mobile_phone" placeholder="Filter by Mobile Number"></td>
								<td><input ng-model="f.cont_home_phone" placeholder="Filter by Home Number"></td>
								<td><input ng-model="f.cont_email" placeholder="Filter by Email"></td>
								<td><input ng-model="f.cont_alt_email" placeholder="Filter by Alt Email"></td>
							</tr>
											
							<tr>
								<th value="cont_id">Contact ID</th>
								<th value="cont_org_id">Organization ID</th>
								<th value="cont_role_cd">Role</th>
								<th value="cont_first_name">First Name</th>
								<th value="cont_middle_name">Middle Name</th>
								<th value="cont_last_name">Last Name</th>
								<th value="cont_name_title">Title</th>
								<th value="cont_name_suffix">Name Suffix</th>
								<th value="cont_addr1">Address 1</th>
								<th value="cont_addr2">Address 2</th>
								<th value="cont_city">City</th>
								<th value="cont_state_prov_cd">State/Province</th>
								<th value="cont_post_cd">Postal Code</th>
								<th value="cont_cntry_cd">Country</th>
								<th value="cont_office_phone">Office Phone</th>
								<th value="cont_mobile_phone">Mobile Phone</th>
								<th value="cont_home_phone">Home Phone</th>
								<th value="cont_email">Primary Email</th>
								<th value="cont_alt_email">Alt Email</th>
								<th>Edit</th>
							</tr>

							<tr ng-repeat="x in myResults | filter:f" data-ng-class="{danger:!entry.active}">
								<td>
									<span data-ng-hide="editMode">{{ x.cont_id }}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_id" data-ng-required />
								</td>
								<!-- The special block here will swap to being input boxes when the -->
								<td>
									<span data-ng-hide="editMode">{{x.cont_org_id}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_org_id" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_role_cd}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_role_cd" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_first_name}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_first_name" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_middle_name}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_middle_name" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_last_name}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_last_name" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_name_title}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_name_title" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_name_suffix}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_name_suffix" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_addr1}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_addr1" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_addr2}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_addr2" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_city}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_city" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_state_prov_cd}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_state_prov_cd" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_post_cd}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_post_cd" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_cntry_cd}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_cntry_cd" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_office_phone}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_office_phone" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_mobile_phone}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_mobile_phone" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_home_phone}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_home_phone" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_email}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_email" data-ng-required />
								</td>
								<td>
									<span data-ng-hide="editMode">{{x.cont_alt_email}}</span>
									<input type="text" data-ng-show="editMode" data-ng-model="x.cont_alt_email" data-ng-required />
								</td>
								<td>
									<button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editResults(x)" class="btn btn-default">Edit</button>
									<button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; saveField(x)" class="btn btn-default">Save</button>
									<button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
								</td>
							</tr>	
						</table>
					</div>
	
						<!--End search for contacts-->
				</div>
				<!-- Table end ********************************-->
				
				
				
						<!--End search for contacts-->
					</div>
				</div>
			</div>
			
			<!-- ADDING BLOCK ********************************-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><h2>Add New Contact</h2></a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse" ng-controller="addCtrl">
					<div class="panel-body">
						<!--Add new contact-->
						<div> <!-- ng-app="myApp" ng-controller="formCtrl" ~~removed bc unused-->
							<div class="row">
								<div class="col-lg-3">Contact ID:</div>
								<div class="col-lg-3"><input type="text" ng-model="contactID"></div>
								<div class="col-lg-3">City:</div>
								<div class="col-lg-3"><input type="text" ng-model="addCity"></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Organization ID:</div>
								<div class="col-lg-3"><input type="text" ng-model="orgID"></div>
								<div class="col-lg-3">State or Province:</div>
								<div class="col-lg-3"><select class = "dropdown" ng-model="addState">
											<option value="AB">AB
											<option value="AL">AL
											<option value="AK">AK
											<option value="AZ">AZ
											<option value="AR">AR
											<option value="AS">AS
											<option value="BC">BC
											<option value="CA">CA
											<option value="CO">CO
											<option value="CT">CT
											<option value="DE">DE
											<option value="DC">DC
											<option value="FL">FL
											<option value="GA">GA
											<option value="GU">GU
											<option value="HI">HI
											<option value="ID">ID
											<option value="IL">IL
											<option value="IN">IN
											<option value="IA">IA
											<option value="KS">KS
											<option value="KY">KY
											<option value="LA">LA
											<option value="MB">MB
											<option value="ME">ME
											<option value="MD">MD
											<option value="MA">MA
											<option value="MI">MI
											<option value="MN">MN
											<option value="MS">MS
											<option value="MO">MO
											<option value="MP">MP
											<option value="MT">MT
											<option value="NB">NB
											<option value="NE">NE
											<option value="NL">NL
											<option value="NV">NV
											<option value="NH">NH
											<option value="NS">NS
											<option value="NT">NT
											<option value="NU">NU
											<option value="NJ">NJ
											<option value="NM">NM
											<option value="NY">NY
											<option value="NC">NC
											<option value="ND">ND
											<option value="OH">OH
											<option value="OK">OK
											<option value="ON">ON
											<option value="OR">OR
											<option value="QC">QC
											<option value="PA">PA
											<option value="PE">PE
											<option value="PR">PR
											<option value="RI">RI
											<option value="SC">SC
											<option value="SD">SD
											<option value="SK">SK
											<option value="TN">TN
											<option value="TX">TX
											<option value="UT">UT
											<option value="VT">VT
											<option value="VA">VA
											<option value="VI">VI
											<option value="WA">WA
											<option value="WV">WV
											<option value="WI">WI
											<option value="YT">YT
									</select></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Role:</div>
								<div class="col-lg-3"><input type="text" ng-model="role"></div>
								<div class="col-lg-3">Postal Code:</div>
								<div class="col-lg-3"><input type="text" ng-model="addPost"></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">First Name:</div>
								<div class="col-lg-3"><input type="text" ng-model="firstName"></div>
								<div class="col-lg-3">Country:</div>
								<div class="col-lg-3"><select class = "dropdown" ng-model="addCountry">
										<option value="USA">USA
										<option value="CAN">CAN
									</select></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Middle Name:</div>
								<div class="col-lg-3"><input type="text" ng-model="midName"></div>
								<div class="col-lg-3">Office Phone:</div>
								<div class="col-lg-3"><input type="text" ng-model="phoneOff"></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Last Name:</div>
								<div class="col-lg-3"><input type="text" ng-model="lastName"></div>
								<div class="col-lg-3">Mobile Phone:</div>
								<div class="col-lg-3"><input type="text" ng-model="phoneMobl"></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Name Title:</div>
								<div class="col-lg-3"><input type="text" ng-model="nameTitle"></div>
								<div class="col-lg-3">Home Phone:</div>
								<div class="col-lg-3"><input type="text" ng-model="phoneHome"></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Name Suffix:</div>
								<div class="col-lg-3"><input type="text" ng-model="nameSufx"></div>
								<div class="col-lg-3">Email:</div>
								<div class="col-lg-3"><input type="text" ng-model="email"></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Address Line 1:</div>
								<div class="col-lg-3"><input type="text" ng-model="addLine1"></div>
								<div class="col-lg-3">Alt Email:</div>
								<div class="col-lg-3"><input type="text" ng-model="emailAlt"></div>
							</div><!--row-->
							
							<div class="row">
								<div class="col-lg-3">Address Line 2:</div>
								<div class="col-lg-3"><input type="text" ng-model="addLine2"></div>
								<div class="col-lg-6"><button type="submit" class="btn btn-default" value="contacts" ng-click="addFunction()" >Add New Contact</button></div>
							</div><!--row-->
						</div>
						<!---End add new contact-->
					</div>
				</div>
			</div>
			<!-- ADDING BLOCK END *********************************************** -->
			
			
			
		</div><!--accordian-->
	
	</div><!--well-->

</div><!--container-->

</body>
</html>