<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuprTEK Contract Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="customcss.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div class="container">
	<!-- Logo -->
	<div class="page-header">
  		<img src="images/SuprTEKLogo.jpg" alt="Logo" id="logo">
	</div>
	
	<!--Navigation Tabs/-->
	<div class="well">
		<div id="tabs" class="row">
			<ul class="nav nav-tabs" role="tablist">
				<li><a href="Home.html">Home</a></li>
				<li><a href="Contracts.html">Contracts</a></li>
				<li><a href="Organizations.html">Organizations</a></li>
				<li class="active"><a href="Contacts.html">Contacts</a></li>
				<li><a href="Directives.html">Directives</a></li>  
				<li><a href="Releases.html">Releases</a></li>
				<li><a href="DataSets.html">Data Sets</a></li>
				<li><a href="ExpertRegulations.html">Expert Regulations</a></li>
				<li><a href="Travel.html">Travel</a></li>
				<li><a href="Devices.html">Devices</a></li>
				<li><a href="Codes.html">Codes</a></li>		
				<li><a href="Reports.html">Reports</a></li>					
			 </ul>
		</div>
		
		<div ng-app="myApp">
			<!-- SearchBox -->
			<div ng-controller="searchCtrl">
				<h2>Search for Contract</h2>
				<h4>Search By:</h4>
					
				<select class = "dropdown" ng-model="searchParameter">
					<option value="Contract">Contract</option>
					<option value="Organization">Organization</option>
					<option value="ContractType">Contract Type</option>
					<option value="Contractor">Contractor</option>
				</select>
				<input type="text" ng-model="searchKeyword">
				<input type="submit" value="Search">
			</div>
			
			<!-- Form -->
			<div ng-controller="personCtrl">
				<h2>Add New Contact</h2>
				<div class="leftdiv"><!--this class keeps all of these items on left side-->
					Contact ID: 		<input type="text" ng-model="contactID">	<br>
					Organization ID: 	<input type="text" ng-model="orgID">		<br>
					Role: 				<input type="text" ng-model="role">			<br>
					First Name: 		<input type="text" ng-model="firstName">	<br>
					Middle Name: 		<input type="text" ng-model="midName">		<br>
					Last Name: 			<input type="text" ng-model="lastName">		<br>
					Name Title: 		<input type="text" ng-model="nameTitle">	<br>
					Name Suffix: 		<input type="text" ng-model="nameSufx">		<br>
					Address Line 1: 	<input type="text" ng-model="addLine1">		<br>
					Address Line 2: 	<input type="text" ng-model="addLine2">		<br>
					City: 				<input type="text" ng-model="addCity">		<br>
					State or Province:	<select class = "dropdown" ng-model="addState">
												<option value="AB">AB
												<option value="AL">AL
												<option value="AK">AK
												<option value="AZ">AZ
												<option value="AR">AR
												<option value="AS">AS
												<option value="BC">BC
												<option value="CA">CA
												<option value="CO">CO
												<option value="CT">CT
												<option value="DE">DE
												<option value="DC">DC
												<option value="FL">FL
												<option value="GA">GA
												<option value="GU">GU
												<option value="HI">HI
												<option value="ID">ID
												<option value="IL">IL
												<option value="IN">IN
												<option value="IA">IA
												<option value="KS">KS
												<option value="KY">KY
												<option value="LA">LA
												<option value="MB">MB
												<option value="ME">ME
												<option value="MD">MD
												<option value="MA">MA
												<option value="MI">MI
												<option value="MN">MN
												<option value="MS">MS
												<option value="MO">MO
												<option value="MP">MP
												<option value="MT">MT
												<option value="NB">NB
												<option value="NE">NE
												<option value="NL">NL
												<option value="NV">NV
												<option value="NH">NH
												<option value="NS">NS
												<option value="NT">NT
												<option value="NU">NU
												<option value="NJ">NJ
												<option value="NM">NM
												<option value="NY">NY
												<option value="NC">NC
												<option value="ND">ND
												<option value="OH">OH
												<option value="OK">OK
												<option value="ON">ON
												<option value="OR">OR
												<option value="QC">QC
												<option value="PA">PA
												<option value="PE">PE
												<option value="PR">PR
												<option value="RI">RI
												<option value="SC">SC
												<option value="SD">SD
												<option value="SK">SK
												<option value="TN">TN
												<option value="TX">TX
												<option value="UT">UT
												<option value="VT">VT
												<option value="VA">VA
												<option value="VI">VI
												<option value="WA">WA
												<option value="WV">WV
												<option value="WI">WI
												<option value="YT">YT
										</select><br>
					Postal Code:		<input type="text" ng-model="addPost">		<br>
					Country:			<select class = "dropdown formBox" ng-model="addCountry">
											<option value="USA">USA
											<option value="CAN">CAN
										</select><br>
				</div>
				<div class="rightdiv"><!--this class keeps all of these items on right side-->
					Office Phone:		<input type="text" ng-model="phoneOff">		<br>
					Mobile Phone:		<input type="text" ng-model="phoneMobl">	<br>
					Home Phone:			<input type="text" ng-model="phoneHome">	<br>
					Email:				<input type="text" ng-model="email">		<br>
					Alt Email:			<input type="text" ng-model="emailAlt">		<br>	
				</div>
				<br>
				
				<div class="testdiv"><!--this class keeps all of these items int the test box-->
				<h1>Test:</h1>
					Contact ID: 		{{contactID}}	<br>
					Organization ID: 	{{orgID}}		<br>
					Role: 				{{role}}		<br>
					First Name: 		{{firstName}}	<br>
					Middle Name: 		{{midName}}		<br>
					Last Name: 			{{lastName}}	<br>
					Name Title: 		{{nameTitle}}	<br>
					Name Suffix: 		{{nameSufx}}	<br>
					Address Line 1: 	{{addLine1}}	<br>
					Address Line 2: 	{{addLine2}}	<br>
					City: 				{{addCity}}		<br>
					State or Province:	{{addState}}	<br>
					Postal Code:		{{addPost}}		<br>
					Country:			{{addCountry}}	<br>
					Office Phone:		{{phoneOff}}	<br>	
					Mobile Phone:		{{phoneMobl}}	<br>
					Home Phone:			{{phoneHome}}	<br>
					Email:				{{email}}		<br>
					Alt Email:			{{emailAlt}}	<br>
					
				<h1>Search Test:</h1>
					Parameter:			{{searchParameter}}	<br>
					Keyword:			{{searchKeyword}}	<br>
				</div>
			</div><!--myApp-->
		</div>

		<script src="js/appController.js"></script>	
		
	</div> <!--well-->
</body>
</html>